    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Links</span>
                        <a href="my.jeremyk.net:18080" class="btn btn-default btn-lg">NZBGet</a></div>
                        <a href="my.jeremyk.net:18081" class="btn btn-default btn-lg">Sonarr</a></div>
                        <a href="my.jeremyk.net:18082" class="btn btn-default btn-lg">CouchPotato</a></div>
                        <a href="my.jeremyk.net:18083" class="btn btn-default btn-lg">PlexPy</a></div>
                        <a href="my.jeremyk.net:18084" class="btn btn-default btn-lg">PlexRequests</a></div>

                </div>
            </div>
        </div>
    </header>