    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Links</span>
                        <a href="http://my.jeremyk.net:32400/web" class="btn btn-warning btn-lg">Plex</a>
                        <a href="http://my.jeremyk.net:18084" class="btn btn-info btn-lg">PlexRequests</a>
                        <a href="http://status.jeremyk.net/" class="btn btn-danger btn-lg">Status</a>
                        <!--<a href="http://my.jeremyk.net:18080" class="btn btn-primary btn-lg">NZBGet</a>-->
                        <!--<a href="http://my.jeremyk.net:18082" class="btn btn-default btn-lg">CouchPotato</a>-->

                </div>
            </div>
        </div>
    </header>